<%- include("partials/_header") -%>
<div class="container mx-auto px-4 sm:px-8">
  <div class="py-8">
    <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
      <div class="mb-4 flex justify-between">
        <div>
          <button type="button" class="group inline-flex items-center px-4 py-2 text-sm font-medium text-center border border-blue-500 text-blue-500 bg-white rounded-full focus:ring-4 focus:outline-none focus:ring-blue-300 hover:bg-blue-500 hover:text-white">
            All
            <span class="inline-flex items-center justify-center w-4 h-4 ml-2 text-md font-semibold text-blue-500 group-hover:text-white">
              <%= list.length %>
            </span>
          </button>
          <button type="button" class="group inline-flex items-center px-4 py-2 text-sm font-medium text-center border border-green-500 text-green-500 bg-white rounded-full focus:ring-4 focus:outline-none focus:ring-green-300 hover:bg-green-500 hover:text-white">
            On process
            <span class="inline-flex items-center justify-center w-4 h-4 ml-2 text-md font-semibold text-green-500 group-hover:text-white">
              1
            </span>
          </button>
          <button type="button" class="group inline-flex items-center px-4 py-2 text-sm font-medium text-center border border-yellow-300 text-yellow-300 bg-white rounded-full focus:ring-4 focus:outline-none focus:ring-yellow-300 hover:bg-yellow-300 hover:text-white">
            No response
            <span class="inline-flex items-center justify-center w-4 h-4 ml-2 text-md font-semibold text-yellow-300 group-hover:text-white">
              0
            </span>
          </button>
          <button type="button" class="group inline-flex items-center px-4 py-2 text-sm font-medium text-center border border-orange-400 text-orange-400 bg-white rounded-full focus:ring-4 focus:outline-none focus:ring-orange-400 hover:bg-orange-400 hover:text-white">
            Offered
            <span class="inline-flex items-center justify-center w-4 h-4 ml-2 text-md font-semibold text-orange-400 group-hover:text-white">
              0
            </span>
          </button>
          <button type="button" class="group inline-flex items-center px-4 py-2 text-sm font-medium text-center border border-gray-500 text-gray-500 bg-white rounded-full focus:ring-4 focus:outline-none focus:ring-gray-300 hover:bg-gray-500 hover:text-white">
            Dclined
            <span class="inline-flex items-center justify-center w-4 h-4 ml-2 text-md font-semibold text-gray-500 group-hover:text-white">
              0
            </span>
          </button>
        </div>
        <div>
          <a href="/home/newlist">
            <button class="rounded-lg px-4 py-2 bg-blue-500 text-white text-sm hover:bg-blue-600 duration-300">Add new list</button>
          </a>
        </div>
        
      </div>
      <div class="inline-block min-w-full shadow-md rounded-lg overflow-hidden">
        <table class="min-w-full leading-normal">
          <thead>
            <tr>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
              >
              </th>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
              >
                Company
              </th>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
              >
                Position
              </th>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
              >
                Job type
              </th>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
              >
                Date applied
              </th>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
              >
                Next
              </th>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
              >
                Status
              </th>
              <th
                class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-700 uppercase tracking-wider"
              >
                Note
              </th>
              <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100">
              </th>
            </tr>
          </thead>
          <% if(list.length > 0){ %>
            <tbody>
              <% list.forEach((item) => { %>
                <tr>
                  <% if(item.favorite === 0){ %>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                      <form action="/home/favupdate?_method=PUT" method="POST">
                        <button type="submit"><i class="fa-regular fa-star"></i></button>
                        <input type="hidden" value="<%= item.favorite %>">
                      </form>
                    </td>
                  <% }else{ %>
                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                      <form action="/home/favupdate?_method=PUT" method="POST">
                        <button type="submit"><i class="fa-regular fa-star text-yellow-300"></i></button>
                        <input type="hidden" value="<%= item.favorite %>">
                      </form>
                    </td>
                  <% } %>
                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-sm">
                    <p><%= item.company_name %></p>
                  </td>
                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-sm">
                    <p><%= item.position %></p>
                  </td>
                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-sm">
                    <p><%= item.job_type %></p>
                  </td>
                  
                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-sm"><%= item.date_applied %></td>
                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm max-w-xs text-sm">
                    <% item.next.next.forEach(eachNext => { %>
                      <%= eachNext %><br>
                    <% }) %>
                  </td>
                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-sm">
                    <% if(item.status === "noResponse"){ %>
                      <span
                      class="relative inline-block px-3 py-1 font-semibold text-yellow-900 leading-tight"
                    >
                      <span
                        aria-hidden
                        class="absolute inset-0 bg-yellow-200 opacity-50 rounded-full"
                      ></span>
                      <span class="relative">No response</span>
                    </span>
                    <% }else if(item.status === "onProcess"){ %>
                      <span
                        class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight"
                      >
                        <span
                          aria-hidden
                          class="absolute inset-0 bg-green-200 opacity-50 rounded-full"
                        ></span>
                        <span class="relative">On process</span>
                      </span>
                    <% }else if(item.status === "offered"){ %>
                      <span
                        class="relative inline-block px-3 py-1 font-semibold text-orange-900 leading-tight"
                      >
                        <span
                          aria-hidden
                          class="absolute inset-0 bg-orange-200 opacity-50 rounded-full"
                        ></span>
                        <span class="relative">Offered</span>
                      </span>
                    <% }else if(item.status === "declined"){ %>
                      <span
                        class="relative inline-block px-3 py-1 font-semibold text-gray-900 leading-tight"
                      >
                        <span
                          aria-hidden
                          class="absolute inset-0 bg-gray-200 opacity-50 rounded-full"
                        ></span>
                        <span class="relative">Declined</span>
                      </span>
                    <% } %>
                  </td>
                  <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm max-w-xs text-sm">
                    <% item.notes.notes.forEach(eachNote => { %>
                      <%= eachNote %><br>
                    <% }) %>
                  </td>
                  <td
                    class="px-5 py-5 border-b border-gray-200 bg-white text-sm text-right text-sm"
                  >
                  <a href="/home/<%= item.list_id %>">
                    <button
                      type="button"
                      class="inline-block text-gray-500 hover:text-gray-700"
                    >
                      <svg
                        class="inline-block h-6 w-6 fill-current"
                        viewBox="0 0 24 24"
                      >
                        <path
                          d="M12 6a2 2 0 110-4 2 2 0 010 4zm0 8a2 2 0 110-4 2 2 0 010 4zm-2 6a2 2 0 104 0 2 2 0 00-4 0z"
                        />
                      </svg>
                    </button>
                  </a>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          <% } %>
        </table>
      </div>
    </div>
  </div>
</div>

<%- include("partials/_footer") -%>
